.block_coursefilesarchive #fitem_id_coursefilesarchive_filemanager {
    margin-left: 0;
}

.block_coursefilesarchive #fitem_id_coursefilesarchive_filemanager .col-form-label,
.block_coursefilesarchive #fgroup_id_buttonar .col-form-label,
.block_coursefilesarchive #fgroup_id_cfabuttons .col-form-label {
    display: none !important;
}

.block_coursefilesarchive #fitem_id_coursefilesarchive_filemanager [data-fieldtype="filemanager"],
.block_coursefilesarchive #fgroup_id_buttonar [data-fieldtype="group"],
.block_coursefilesarchive #fgroup_id_cfabuttons [data-fieldtype="group"] {
    flex: 100%;
    max-width: 100%;
    padding-left: 0;
}

.block_coursefilesarchive .mform > .form-group {
    margin-left: 0;
}

.block_coursefilesarchive #fgroup_id_buttonar fieldset > div,
.block_coursefilesarchive #fgroup_id_cfabuttons fieldset > div {
    justify-content: center;
}

#page-blocks-coursefilesarchive-filecompare #cfafilecomparison .cfastate.cfastatecoursearchive .cfastateicon {
    color: var(--blue);
}

#page-blocks-coursefilesarchive-filecompare #cfafilecomparison .cfastate.cfastatearchive .cfastateicon {
    color: var(--gray);
}

#page-blocks-coursefilesarchive-filecompare #cfafilecomparison .cfastate.cfastatecourse .cfastateicon {
    color: var(--red);
}