{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see http://www.gnu.org/licenses/.
}}

{{!
    @template block_coursefilesarchive/filecompare
    @package    block_coursefilesarchive
    @version    See the value of '$plugin->version' in version.php.
    @copyright  &copy; 2023 G J Barnard.
    @author     G J Barnard - {@link http://about.me/gjbarnard} and
                              {@link http://moodle.org/user/profile.php?id=442195}
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    This template renders the file compare page.

    Classes required for JS:
    * none.

    Data attributes required for JS:
    * none.

    Context variables required for this template:
    * heading page title - string.
    * returnlink url of the course page containing the block instance.

    Example context (json):
    {
        "heading": "Course files archive file compare",
        "returnlink": "http://www.moodlebites.com/course/view.php?id=24"
    }
}}

<div class="container">
    <h5>{{heading}}</h5>
    <ul>
    {{#cfafiles}}
        <li class="row">
            <div class="col5">{{pathname}}</div>
            <div class="col1">
                {{#stateunknown}}{{#str}}cfastateunknown, block_coursefilesarchive{{/str}}{{/stateunknown}}
                {{#statecoursearchive}}<span class="fa fa-check" style="color: var(--blue);" title="{{#str}}cfastatecoursearchive, block_coursefilesarchive{{/str}}" aria-hidden="true"></span><span class="sr-only">{{#str}}cfastatecoursearchive, block_coursefilesarchive{{/str}}</span>{{/statecoursearchive}}
                {{#statearchive}}<span class="fa fa-check" style="color: var(--gray);" title="{{#str}}cfastatearchive, block_coursefilesarchive{{/str}}" aria-hidden="true"></span><span class="sr-only">{{#str}}cfastatearchive, block_coursefilesarchive{{/str}}</span>{{/statearchive}}
                {{#statecourse}}<span class="fa fa-times" style="color: var(--red);" title="{{#str}}cfastatecourse, block_coursefilesarchive{{/str}}" aria-hidden="true"></span><span class="sr-only">{{#str}}cfastatecourse, block_coursefilesarchive{{/str}}</span>{{/statecourse}}
            </div>
            <div class="col6">{{timestamp}}</div>
        </li>
    {{/cfafiles}}
    </ul>
    <p><a href="{{{returnlink}}}">{{#str}}returncourse, block_coursefilesarchive{{/str}}</a></p>
</div>
